@{
    ViewData["Title"] = "Rent";
}

<div ng-app="Library">
    <div ng-view></div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
<script type="text/javascript">
    // Creating a Module to use within index page
    var baseURL = 'https://localhost:44308/api/'
    angular
        .module('Library', ['ngRoute'])
        .config(function ($routeProvider) {
            $routeProvider
                .when('/',
                    {
                        templateUrl: 'pages/rentIndex.html',
                        controller: 'IndexController'
                    })
                .when('/create',
                    {
                        templateUrl: 'pages/rentCreate.html',
                        controller: 'CreateController'
                    })
                .when('/details/:rentId',
                    {
                        templateUrl: 'pages/rentDetails.html',
                        controller: 'DetailsController'
                    })

                .when('/edit/:rentId',
                    {
                        templateUrl: 'pages/rentEdit.html',
                        controller: 'EditDeleteController'
                    })
                .otherwise({
                    redirectTo: '/'
                });

        })
        .controller('IndexController', ['$scope', '$http', function ($scope, $http) {
            $scope.rents = [];
            $http.get('https://localhost:44308/api/rents/')
                .then(function (res) {

                    $scope.rents = res.data;
                })
        }])
        .controller('CreateController', ['$scope', '$http', '$location', function ($scope, $http, $location) {
            $scope.rent =
            {
                Id: 0,
                bookName: '',
                rentState: '',
                orderDate: ''
                 
            };
            $scope.AddRent = function () {
                $http.post('https://localhost:44308/api/rents/', $scope.rent)
                    .then(function (res) {
                        $location.path('/')
                    });
            }

        }])
        .controller('DetailsController', ['$scope', '$http', '$routeParams', function ($scope, $http, $routeParams) {
            $scope.details = [];

            $http.get('https://localhost:44308/api/rents/' + $routeParams.RentId)
                .then(function (res) {
                    $scope.details = res.data;
                });

        }])
        .controller('EditDeleteController', ['$scope', '$http', '$location', '$routeParams', function ($scope, $http, $location, $routeParams) {
            $scope.edit = [];

            $http.get('https://localhost:44308/api/rents/' + $routeParams.RentId)
                .then(function (res) {
                    $scope.edit = res.data;
                });

            $scope.Edit = function () {
                $http.put('https://localhost:44308/api/rents/' + $routeParams.RentId, $scope.edit)
                    .then(function (res) {
                        $location.path('/');
                    });
            };
            $scope.Delete = function () {
                $http.delete('https://localhost:44308/api/rents/' + $routeParams.RentId, $scope.edit)
                    .then(function (res) {
                        $location.path('/');
                    });
            };

        }]);
</script>
