@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="Library">
    <div ng-view></div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
<script type="text/javascript">
    // Creating a Module to use within index page
    var baseURL = 'https://localhost:44308/api/'
    angular
        .module('Library', ['ngRoute'])
        .config(function ($routeProvider) {
            $routeProvider
                .when('/',
                    {
                        templateUrl: 'pages/bookIndex.html',
                        controller: 'IndexController'
                    })
                .when('/create',
                    {
                        templateUrl: 'pages/bookCreate.html',
                        controller: 'CreateController'
                    })
                .when('/details/:bookId',
                    {
                        templateUrl: 'pages/bookDetails.html',
                        controller: 'DetailsController'
                    })

                .when('/edit/:bookId',
                    {
                        templateUrl: 'pages/bookEdit.html',
                        controller: 'EditDeleteController'
                    })
                .otherwise({
                    redirectTo: '/'
                });

        })
        .controller('IndexController', ['$scope', '$http', function ($scope, $http) {
            $scope.books = [];
            $http.get('https://localhost:44308/api/books/')
                .then(function (res) {

                    $scope.books = res.data;
                })
        }])
        .controller('CreateController', ['$scope', '$http', '$location', function ($scope, $http, $location) {
            $scope.book =
            {
                Id: 0,
                bookName: '',
                author: '',
                replacement: '',
                forRent: '',
                publitionYear: ''
            };
            $scope.AddBook = function () {
                $http.post('https://localhost:44308/api/books/', $scope.book)
                    .then(function (res) {
                        $location.path('/')
                    });
            }

        }])
        .controller('DetailsController', ['$scope', '$http', '$routeParams', function ($scope, $http, $routeParams) {
            $scope.details = [];

            $http.get('https://localhost:44308/api/books/' + $routeParams.BookId)
                .then(function (res) {
                    $scope.details = res.data;
                });

        }])
        .controller('EditDeleteController', ['$scope', '$http', '$location', '$routeParams', function ($scope, $http, $location, $routeParams) {
            $scope.edit = [];

            $http.get('https://localhost:44308/api/books/' + $routeParams.BookId)
                .then(function (res) {
                    $scope.edit = res.data;
                });

            $scope.Edit = function () {
                $http.put('https://localhost:44308/api/books/' + $routeParams.BookId, $scope.edit)
                    .then(function (res) {
                        $location.path('/');
                    });
            };
            $scope.Delete = function () {
                $http.delete('https://localhost:44308/api/books/' + $routeParams.BookId, $scope.edit)
                    .then(function (res) {
                        $location.path('/');
                    });
            };

        }]);
</script>
